.transactionHistory,
th,
td {
  border: 1px solid black;
}

.head {
  background-color: #55a08c;
  text-transform: uppercase;
}

th {
  padding: 10px;
  width: 100px;
}

td {
  padding: 5px;
  background-color: #abe3d4;
}
